@mixin flex_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin lines {
  width: 30%;
  height: 35px;
  @include background-settings;
}

@mixin background-clip-text-transparent {
  -webkit-background-clip: text;
  color: transparent;
}

@mixin background-settings {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
